ion-item-divider {
  text-transform: uppercase;
}
ion-item-sliding {
  button {
    h2.prs {
      text-transform: uppercase;
    }
    p {
      font-style: italic;
    }
    ion-note {
      font-weight: bold;
    }
  }
}
