<ion-header>
  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="listType">
      <ion-segment-button value="myprs" (click)="pageTitle='My Personal Records'">
        My PRs
      </ion-segment-button>
      <ion-segment-button value="allstats" (click)="pageTitle='All My Stats'">
        All My Stats
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="listType==='myprs'">
    <ion-item-sliding detail-push *ngFor="let stat of prStats | orderBy: ['name']">
      <button ion-item (click)="openStat(stat)">
        <h2 class="prs">{{stat.name}}</h2>
        <p>{{stat.date | date:'MMM d, yyyy'}}</p>
        <ion-note item-right *ngIf="stat.value">{{stat.value}}</ion-note>
      </button>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="listType==='allstats'">
    <ion-item-group>
      <ion-item-divider color="light">10 Minute Burpees</ion-item-divider>
      <ion-item-sliding detail-push *ngFor="let stat of allStats | orderBy: ['value']">
        <button ion-item (click)="openStat(stat)">
          <h2>{{stat.date | date:'MMM d, yyyy'}}</h2>
          <ion-note item-right>{{stat.value}}</ion-note>
        </button>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
