page-stat-detail {

  ion-content.cards-bg {
    background-color: color($colors, light);
  }

  ion-content {

    .stat-value {
      color: color($colors, primary);
      font-size: 100px;
    }
    .stat-pr {
      color: gold;
    }

    ion-card-content {
      p {
        margin-bottom: 15px !important;
      }
    }

    .high-rated {
      color: green;
    }
  }
}
